# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
__pycache__

# Virtual environment
venv/
env/
*.env

# VS Code
.vscode/

# Flask
instance/
webapp.egg-info/

# IDE-specific files
*.iml

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# SQLite database files
*.sqlite

# Environment variables file
.env
.env.local
.env.*.local

# User-specific files
*.DS_Store
Thumbs.db
