<div class="background">
    <mat-card class="fixed-width">
        <mat-card-header>
            <mat-card-title>Regístrate como autor</mat-card-title>
        </mat-card-header>
        <div class="space">
            <mat-card-content>
                <form [formGroup]="authorForm" (ngSubmit)="onSubmit()" class="form-grid">
                    <mat-form-field class="full-width">
                        <mat-label>Nombre completo </mat-label>
                        <input matInput formControlName="Nombre" />
                        <mat-error *ngIf="authorForm.get('Nombre')?.invalid">{{ getFullNameErrorMessage() }}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Correo electrónico </mat-label>
                        <input matInput placeholder="alguien@example.com" formControlName="Correo" />
                        <mat-error *ngIf="authorForm.get('Correo')?.invalid">{{ getErrorMessage() }}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Contraseña </mat-label>
                        <input matInput [type]="hide ? 'Contrasenia' : 'text'" formControlName="Contrasenia" />
                        <mat-error *ngIf="authorForm.get('Contrasenia')?.invalid">{{ getPasswordErrorMessage() }}</mat-error>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Direccion de Oficina: </mat-label>
                        <input matInput formControlName="DireccionOficina" />
                        <mat-error *ngIf="authorForm.get('DireccionOficina')?.invalid">{{ getWorkPlaceErrorMessage() }}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Numero de cuenta de banco </mat-label>
                        <input matInput placeholder="MM/AA" formControlName="NumeroCuentaBanco" />
                        <mat-error *ngIf="authorForm.get('NumeroCuentaBanco')?.invalid">{{ getBankAccountErrorMessage() }}</mat-error>
                    </mat-form-field>
                    <mat-card-actions align="end">
                        <button mat-raised-button color="primary" type="submit">Regístrate</button>
                    </mat-card-actions>
                </form>
            </mat-card-content>
        </div>
    </mat-card>
</div>
