<div class="container">
    <mat-card *ngFor="let libro of libros" class="book-card" >

        <div class="card-content" >
          <div class="text-content">
            <div class="title-and-summary">
              <mat-card-title>{{ libro.nombreLibro }}</mat-card-title>
              <mat-card-subtitle>Fecha de Inicio: {{libro.fechaInicio | date:'d'}} de {{libro.fechaInicio | date:'MMMM'}} de {{libro.fechaInicio | date:'yyyy'}}</mat-card-subtitle>
              <mat-card-subtitle>Fecha fin: {{libro.fechaFin | date:'d'}} de {{libro.fechaFin | date:'MMMM'}} de {{libro.fechaFin | date:'yyyy'}}</mat-card-subtitle>
            </div>
          </div>
        </div>
      </mat-card>
</div>
