<div class="container">
  <div class="filters">
    <div class="search-title">
      <mat-form-field class="custom-mat-form-field" appearance="fill">
        <input matInput placeholder="Busca por el titulo o autor del libro" [(ngModel)]="filtro">
        <button mat-button matSuffix (click)="filtrarLibro(filtro)">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="category-filter">
      <mat-form-field>
        <mat-label>Seleccionar categoria</mat-label>
        <mat-select>
          <mat-option *ngFor="let categoria of categorias" [value]="categoria" (click)="filtrarPorCategoria(categoria)">
            {{categoria}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <mat-card *ngFor="let libro of libros" class="book-card" >

    <div class="card-content" >
      <img mat-card-avatar [src]=libro.image alt="Libro">
      <div class="text-content">
        <div class="title-and-summary">
          <mat-card-title routerLink="/lista-libros/{{ libro._id }}" >{{ libro.titulo }}</mat-card-title>
          <mat-card-subtitle>{{libro.autor}} | {{libro.categoria}} | {{libro.fecha_publicacion | date:'d'}} de {{libro.fecha_publicacion | date:'MMMM'}} de {{libro.fecha_publicacion | date:'yyyy'}}</mat-card-subtitle>
          <mat-card-subtitle class="disponible">
            <span *ngIf="esAutor; else disponibilidad">
              Cantidad: {{libro.cantidad}}
            </span>
            <ng-template #disponibilidad>
               Disponible: {{ libro.cantidad > 0 ? 'Sí' : 'No' }}
            </ng-template>
          </mat-card-subtitle>
          <mat-card-content>
            <p></p>
            <p></p>
            <div class="stars">
              <mat-icon *ngFor="let star of [1, 2, 3, 4, 5]; let i = index" 
                [class.filled]="i < libro.rating">
                {{i < libro.rating ? 'star' : 'star_border'}}
               </mat-icon>
            </div>
            <p class="book-summary">{{ libro.resumen }}</p>
          </mat-card-content>
        </div>
      </div>
      <button *ngIf="esAutor" mat-icon-button [matMenuTriggerFor]="menu" class="mat-menu-trigger">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editarLibro(libro._id)" routerLink="/editar-libro/{{ libro._id }}">
          <mat-icon>edit</mat-icon>
          <span>Editar</span>
        </button>
        <button mat-menu-item (click)="eliminarLibro(libro)">
          <mat-icon>delete</mat-icon>
          <span>Eliminar</span>
        </button>
      </mat-menu>
    </div>
  </mat-card>
</div>
