
/* lista-libros.component.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: auto;
  margin-top: 70px; 
  margin-bottom: 50px;
}
.filters {
  display: flex;
  
}

.search-title {
  margin-left: auto;
  margin-right: 10px;
  
}

.custom-mat-form-field {
  background-color: white;
  width: 400px;
}

button.mat-icon-button {
  background-color: transparent;
}

.book-card {
  width: 100%;
  margin-bottom: 20px;
}



.mat-mdc-card-avatar {
  width: 20% !important;
  height: 20% !important;
  object-fit: cover !important;
  border-radius: 15%;
}



/* lista-libros.component.css */
.card-content {
  display: flex;
  justify-content: space-between; /* Alinea el botón del menú a la derecha */
 
}

.mat-menu-trigger {
  
  background-color: transparent;
}

.title-and-summary {
  text-align: center !important;
}