<!-- book-detail.component.html -->
<div class="card-container">
<mat-card class="book-card">
    <div class="card-content">
      <img mat-card-avatar [src]="libro.image" alt="Libro" class="book-image">
  
      <div class="details">
        <mat-card-header>
          <div class="header-content">
          <mat-card-title class="book-title">{{ libro.titulo }}</mat-card-title>
        </div>
        </mat-card-header>
        <div class="spacer"></div>
  
        <mat-card-content>
          <div class="stars">
            <mat-icon *ngFor="let star of [1, 2, 3, 4, 5]; let i = index" 
              [class.filled]="i < libro.rating">
              {{i < libro.rating ? 'star' : 'star_border'}}
             </mat-icon>
          </div>
          <mat-card-subtitle class="disponible">
            <span *ngIf="esAutor; else disponibilidad">
              Cantidad: {{libro.cantidad}}
            </span>
            <ng-template #disponibilidad>
               Disponible: {{ libro.cantidad > 0 ? 'Sí' : 'No' }}
            </ng-template>
          </mat-card-subtitle>
          <p><strong>Autor:</strong> {{ libro.autor }}</p>
            <p><strong>Subtítulo:</strong> {{ libro.subtitulo }}</p>
            <p><strong>Categoría:</strong> {{ libro.categoria }}</p>
            <p><strong>ISBN:</strong> {{ libro.isbn13 }}</p>
            <p><strong>Precio:</strong> {{ libro.precio }}</p>
            <p><strong>Resumen:</strong> {{ libro.resumen }}</p>
            <p><strong>Páginas:</strong> {{ libro.paginas }}</p>
            <p><strong>Idioma:</strong> {{ libro.idioma }}</p>
            <p><strong>Formato:</strong> {{ libro.formato }}</p>
            <p><strong>Fecha de publicación:</strong> {{ libro.fecha_publicacion }}</p>
        </mat-card-content>
        <mat-card-actions align="end">
          <button *ngIf="esLector" mat-button (click)="prestarLibro(libro)">Prestarme</button>
          <button *ngIf="esLector" mat-button>Agregar a deseos</button>
          <button *ngIf="esAutor" mat-button (click)="eliminarLibro(libro)">Eliminar</button>
          <button *ngIf="esAutor" mat-button routerLink="/editar-libro/{{ libro._id }}">Editar</button>
        </mat-card-actions>
      </div>
    </div>
  </mat-card>
</div>
  