.book-card {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-color: transparent;
  box-shadow: none;
  margin-top: 130px;
  margin-bottom: 170px;
  max-width: 800px; /* Ajusta el valor según tus necesidades */
}

.card-content {
  display: flex;
  align-items: center; /* Alinear verticalmente */
  padding: 16px;
}

.book-image {
  width: auto;
  height: 100%;
  margin-right: 20px; /* Espaciado entre la imagen y los detalles */
}

.details {
  flex: 1; /* Permite que los detalles ocupen el espacio restante */
}

.mat-mdc-card-avatar {
  width: 30% !important;
  height: 350px !important;
  object-fit: cover !important;
  border-radius: 6%;
}