.book-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: transparent;
  box-shadow: none;
  margin-top: 130px;
  margin-bottom: 170px;
  width: 950px; 
  flex-direction: column; 
  margin-left: 19%;
  margin-right: 30%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3),
              -5px -5px 15px rgba(255, 255, 255, 0.7);
}


.book-image {
  margin-top: 45px; 
}

.card-content {
  display: flex;
  flex-direction: row; 
  align-items: normal;  /* Alinear verticalmente */
  padding: 16px;
}




.mat-mdc-card-avatar {
  width: 280px !important;
  height: 380px !important;
  border-radius: 2%;
  margin-right: 20px;
}

mat-icon {
  color: gray; /* color de las estrellas vacías */
}

mat-icon.filled {
  color: orange; /* color de las estrellas llenas */
}


mat-card-header {
  border-bottom: 2px solid gray;
  padding-bottom: 5px;
  margin-top: 20px;
 
}
.spacer {
  margin-top: 15px; 
}


